In [4]:
%load_ext autoreload
%autoreload 2
import pandas as pd

df = pd.io.parsers.read_csv(
    filepath_or_buffer='data/play.csv',
    #header=None,
    sep=',',
)
#df.head()
df.corr()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

     A    B    C    D    E
A  1.0  1.0  1.0 -1.0  1.0
B  1.0  1.0  1.0 -1.0  1.0
C  1.0  1.0  1.0 -1.0  1.0
D -1.0 -1.0 -1.0  1.0 -1.0
E  1.0  1.0  1.0 -1.0  1.0